# ==== BINARIOS ====
*.exe
*.out
*.app

# ==== OBJETOS DE COMPILACIÓN ====
*.o
*.obj
*.a
*.so
*.dll

# ==== CODE::BLOCKS ====
*.layout
*.depend

# ==== CARPETAS DE BUILD ====
bin/
obj/
debug/

# === LIBRERIAS ===
lib/

# === RESPALDO ===
*.bak